/* Base styles and variables */
:root {
    /* Colors */
    --blue-grey-50: #ECEFF1;
    --blue-grey-100: #CFD8DC;
    --blue-grey-200: #B0BEC5;
    --blue-grey-800: #37474F;
    --blue-grey-900: #263238;
    
    /* Typography */
    --h1-font-size: 3.5rem;
    --h1-font-family: 'Libre Baskerville', serif;
    --h1-font-weight: bold;
    --h1-line-height: 1.5rem;

    --h2-font-family: 'Georgia', serif;
    --h2-font-size: 2.25rem;
    --h2-font-weight: normal;
    --h2-line-height: 3.375rem;
    
    --h3-font-family: 'Inter', sans-serif;
    --h3-font-size: 1.25rem;
    --h3-font-weight: bold;
    --h3-line-height: 1.875rem;
    
    --p-font-family: 'Inter', sans-serif;
    --p-font-size: 1rem;
    --p-font-weight: normal;
    --p-line-height: 1.5rem;

    --span-font-family: 'Inter', sans-serif;
    --span-font-size: 2.5rem;
    --span-font-weight: bold;
    --span-line-height: 3.375rem;
}

body {
    color: #000;
    margin: 0;
    font-family: var(--p-font-family);
    line-height: var(--p-line-height);
}

img {
    max-width: 100%;
    height: auto;
}

/* Header */
header {
    background: #111111;
    padding: var(--space-sm);
    text-align: center;
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 45px;
}

header .logo h1 {
    color: white;
    font-family: var(--h1-font-family);
    font-weight: var(--h1-font-weight);
    font-size: var(--h1-font-size);
    line-height: var(--h1-line-height);
    text-align: center;
}

header .logo img {
    height: 40px;
    width: auto;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

header nav a {
    font-family: "Arial", sans-serif;
    font-weight: normal;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Sustainability Section */
.hero {
    background-color: var(--blue-grey-50);
    text-align: center;
    padding: 4rem 2rem;
}

.hero h2 {
    font-family: 'Georgia', serif;
    font-weight: normal;
    font-size: 2.25rem;
    line-height: 3.375rem;
    margin: 64px 27px 16px 27px;
}

.hero p {
    font-family: var(--p-font-family);
    font-size: var(--p-font-size);
    font-weight: var(--p-font-weight);
    line-height: var(--p-line-height);
    color: #000000;
}

.hero button {
    background-color: #111111;
    width: 103px;
    height: 56px;
    color: #ECEFF1;
    border: none;
    padding: 16px 19px 16px 18px;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 2.25rem;
    margin-bottom: 3rem;
}

.hero img {
    border: 1px solid #000000;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
}

/* Services Section */
.services {
    background-color: #FFFFFF;
    text-align: center;
    margin-right: 2rem;
    margin-left: 2rem;
}

.services h2::before,
.services h3::before {
    content: "*";
    display: block;
    margin-bottom: 0.25rem;
    align-items: center;
    justify-content: center;
    font-family: var(--span-font-family);
    font-size: var(--span-font-size);
    font-weight: var(--span-font-weight);
    line-height: var(--span-line-height);
}

.services h2 {
    font-family: var(--h2-font-family);
    font-size: var(--h2-font-size);
    font-weight: var(--h2-font-weight);
    line-height: var(--h2-line-height);
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.services p {
    font-family: var(--p-font-family);
    font-size: var(--p-font-size);
    font-weight: var(--p-font-weight);
    line-height: 1.5rem;
    color: #000000;
}

.service {
    margin-bottom: 1.5rem;
}

.service h3 {
    font-family: var(--h3-font-family);
    font-size: var(--h3-font-size);
    font-weight: var(--h3-font-weight);
    line-height: var(--h3-line-height);
    margin-bottom: 1.5rem;
}

.services-details {
    margin-bottom: 4rem;
}

/* Quote Section */
.quote {
    background-color: #78909C;
    text-align: center;
    margin: 0;
    color: white;
}

.quote blockquote {
    font-family: var(--h2-font-family);
    font-weight: var(--h2-font-weight);
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);
    text-align: center;
}

.quote-container {
    margin-right: 2rem;
    margin-left: 2rem;
    padding-top: 4rem;
}

.quote p:first-child {
    gap: 1rem;
}

.quote p:last-child {
    margin-bottom: 4rem;
    color: var(--blue-grey-50);
}

/* World Section */
strong {
    font-weight: bold;
}

.world {
    background-color: var(--blue-grey-100);
    text-align: center;
    padding: 4rem 2rem;
}

.world h2::before,
.world h3::before {
    content: "*";
    display: block;
    margin-bottom: 0.25rem;
    align-items: center;
    justify-content: center;
    font-family: var(--span-font-family);
    font-size: var(--span-font-size);
    font-weight: var(--span-font-weight);
    line-height: var(--span-line-height);
}

.world h2 {
    font-family: var(--h2-font-family);
    font-weight: var(--h2-font-weight);
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);
}

.world li {
    text-align: left;
}

.residential, .commercial {
    text-align: left;
}

.residential-text, .commercial-text {
    margin-top: 3rem;
    margin-bottom: 3rem;
}


/* Subscribe Section */
.subscribe {
    background-color: var(--blue-grey-800);
    padding: 4rem 2rem;
}

.subscribe-container {
    background-color: white;
    border-radius: 8px;
    padding: 4rem 2rem;
    text-align: center;
}

.subscribe h2 {
    font-family: var(--h2-font-family);
    font-weight: var(--h2-font-weight);
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);
}

.subscribe p {
    margin-bottom: 2rem;
    padding: 0 1rem;
}

.subscribe button.signup {
    background-color: #111111;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
}

/* Footer */
footer {
    background-color: #191919;
    color: white;
}

footer .logo {
    padding: 4rem 30px 3rem 30px;
    text-align: left;
}

footer p {
    color: var(--blue-grey-200);
    font-family: var(--p-font-family);
    font-weight: var(--p-font-weight);
    font-size: 12px;
    line-height: 18px;
    padding-right: 2rem;
    padding-left: 2rem;
}


footer .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 45px;
}

footer .logo-container h1 {
    color: white;
    font-family: var(--h1-font-family);
    font-weight: var(--h1-font-weight);
    font-size: var(--h1-font-size);
    line-height: var(--h1-line-height);
    text-align: center;
}

footer .logo-container img {
    height: 78px;
    width: auto;
}

footer nav {
    display: flex;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: left;
    justify-content: center;
    gap: 24px;
    padding: 0 2rem;
    margin-bottom: 3rem;
}

footer nav h3 {
    color: white;
    font-family: var(--h3-font-family);
    font-size: var(--h3-font-size);
    font-weight: var(--h3-font-weight);
    margin-bottom: 0.75rem;
}

footer nav a {
    display: block;
    color: var(--blue-grey-200);
    text-decoration: none;
    margin-bottom: 0.5rem;
}

footer .column {
    height: 132px;
    width: 97px;
}

footer span {
    color: var(--blue-grey-200);
    font-family: var(--p-font-family);
    font-weight: var(--p-font-weight);
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    display: block;
    padding: 48px 36px 74px 36px;
}

/* Media Queries */

/* Medium Screen */
@media screen and (min-width: 768px) {
    :root {
        --h2-font-size: 2.25rem;
        --h2-line-height: 3.375rem;
    }
    
    header {
        padding: var(--space-lg);
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }
    
    header .logo {
        margin-bottom: 0;
    }
    
    header .logo h1 {
        font-size: 3.5rem;
    }
    
    header .logo img {
        height: 58px;
    }
    

}

/* Large Screen */
@media screen and (min-width: 1024px) {
    header {
        padding: var(--space-lg) var(--space-xxl);
    }
    
    
    footer {
        padding: var(--space-xxl);
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: var(--space-xxl);
    }
    
    footer > p {
        grid-column: 1;
        max-width: 100%;
    }
    
    footer nav {
        grid-column: 2;
    }
    
    footer span {
        grid-column: 1 / -1;
        margin-top: var(--space-lg);
    }
}